<?xml version="1.0" encoding="utf-8"?>
<!-- <!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd"> -->
<!DOCTYPE hibernate-configuration SYSTEM 
    "classpath://hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="javax.persistence.validation.mode">none</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/medical_gate_analysis</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">Mysql-123</property>
		<!-- <property name="hibernate.connection.url">jdbc:mysql://bebop.cg.uni-saarland.de:3306/medical_gate_analysis</property>
		<property name="hibernate.connection.username">medical_gate_analysis</property>
		<property name="hibernate.connection.password">,Npf4g@=+We8qWmGBK21</property>
		<property name="hibernate.connection.requireSSL">true</property>
		<property name="hibernate.connection.useSSL">true</property>
		<property name="hibernate.connection.verifyServerCertificate">false</property> -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<property name="hbm2ddl.auto">create </property>
		<mapping class="com.mga.model.PatientMetadata"/>
		<mapping class="com.mga.model.PatientFunctionScoreData"/>
		<mapping class="com.mga.model.PatientSoleData"/>
		<mapping class="com.mga.model.DoctorMetadata"/>
		<mapping class="com.mga.model.PatientSoleDataFiles"/>
		<mapping class="com.mga.model.PatientOtherFiles"/>
		<mapping class="com.mga.model.PatientMiscData"/>
		
	</session-factory>
</hibernate-configuration>