/* Header */

.gd-uniLogoContainer{
    margin-left: 270px;
    margin-top: 7px;
    display: block;
    position: absolute;
}
.gd-uksLogoContainer{
    margin-left: 55px;
    display: block;
}
.gd-Header-Column1{
    height:50px; 
    background-color: rgba(155,154,155,0.30);
}

.gd-Header-Column2{
    height: 30px; 
    background-color: 03bcbc;
}
.gd-Navigation-Container{
    margin-left: 55px;
    height: 100%;
}
.gd-Navigation-Link{
    display: inline-block;
    color: white;
    font-size: 1.3em;
    line-height: 30px;
    margin-left: 25px;
}
.gd-Navigation-Link:hover{
    text-decoration: none;
}

/* CardItem   */
.cardContainer{
    width: 90%;
    margin-top:50px;
}

.cardItem{
    color:#333;
    background-color: rgba(171,171,171,0.90); 
    margin-bottom: 10px;
    height: 150px;
    width: 150px;
    box-shadow: 3px 3px 5px grey;
    text-align: center;
}

.cardItem:hover{
    color:white;
}
.cardItem:active{
    background-color: #a4a5a5;
    color: #ededed;
}

.searchTile{
    margin-bottom: 8px;
    height: 470px;
    width: 310px;
}

.gd-Search-Field{
    padding: 10 10 10 20;
	font-size: medium;
    color: #333;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-top: 1px solid transparent;
    border-bottom:1px solid whitesmoke;
    background-color: transparent;
    width: 100%;
    margin-bottom: 5px;
}
.gd-Search-Field:focus{
    outline: none;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #4b6477;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #4b6477;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #4b6477;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #4b6477;
}
:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
   color:    #4b6477;
}

.gd-tileInfoText{
  width: 100%;
  text-align: center;
  margin-top: 5%;
  font-weight: 200;
}
.searchTileContainer{
  overflow: auto;
  height: 404px;
  overflow-x: hidden;
}
.searchTileContainer a{
  
}
.searchTileContainer div {
  font-weight: light;   
  font-size: 1.3em;
  color: #333;
}
.searchTileContainer div:hover{
 color:    #4b6477; 
 cursor: pointer
} 
.searchTileFooter{
    float:right;
    width: 100%;
}

.searchTileFooter .Label{
    font-weight: lighter;
    margin-top: -2px;
    font-size: 0.9em;
    float: right;
    color: #f4f4f4;
}
.searchTileFooter .Value{
    font-size: 0.9em;
    font-weight: lighter;
    padding-right: 5;
    float:right;
    color: #f4f4f4;
}
.gd-User-Search{
 background-color: f9f9f9;
 width: 280px;
 height: 47px;
 margin-top: 76px;
 margin-left: 9px;
}

.wideTile{
 margin-bottom: 10px;
 height: 150px;
 width: 476px;
}

.gd-CardText{
	font-size: 30;
    margin-top: 5px;
}
.gd-imgInfoText{
   margin-top: -40px;
   font-size: xx-large;
   color:black;
}
.cardContainer .fa{
    display: inline-block;
    margin-top: 25px;
}


.fa-plus-square-o{
	color: white;
	float: right;
    margin-right: 11px;
}
.option{
	text-decoration: none;
}

.patientName{
    margin-top: 10px;
    color: #1e1e1e;
    margin-left: 20px;
    font-size: x-large;
}
.patientID{
    display: none;
}
.body{
    
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
          /* Generic*/
}

.fa-spin-custom, .glyphicon-spin {
  -webkit-animation: spin 1000ms infinite linear;
  animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}


/* Modal Confirmation Idalogue*/

.gd-dialog-confirm{
	border-color:  black !important;
	background-color: white !important;
}
.gd-dialog-confirm div{
	font-size: 1.0em;
    color: #a4a5a5;
}
.ui-dialog{
	border-width: 0px !important;
	border-radius: 0px !important;
}
.ui-dialog-titlebar{
	border-width: 0px !important;
	background-color: transparent !important;
	font-size: 1.4em !important;
    color: black !important;
}

.ui-dialog-buttonpane{
	height: 20px !important;
	margin: 0 !important;
	padding: 0 !important;
}

.ui-dialog button{
	background-color: transparent !important;
	border-radius: 0px !important;
	border-width: 0px !important;
}
.ui-dialog button:hover{
	color: #03bcbc !important;
}

