.gd-body{

}
.container{
	padding-left: 0px !important;
}


 .gd-UserInfo,  .gd-RelatedFilesData, .gd-FunctionScoreContainer, .gd-Analysis-UserInformation{
	margin-top: 15px;
	padding: 5 5;
	padding-left: 5px !important;
	padding-right: 5px !important;
	background-color: white;
	box-shadow: 3px 3px 5px grey;
}

.gd-MISCContainer{
	padding: 3 5;
	background-color: white;
	box-shadow: 3px 3px 5px grey;
}
.gd-FilterDatePicker{
	margin-top:5px;
}
.gd-Document-Search{
	padding: 5;
	margin-top: 3px;
	margin-bottom: 10px;
	margin-left: 2px;
	font-size: 0.8em;
	width: 98% ;
}
.gd-FunctionScore-Search{
	padding: 5;
	margin-top: 3px;
	margin-bottom: 10px;
	margin-left: 2px;
	font-size: 0.8em;
	width: 50% ;
}
.gd-SoleData{
	margin-top: 15px;
	padding: 5 5;
	padding-left: 5px !important;
	padding-right: 5px !important;
	background-color: white;
	box-shadow: 3px 3px 5px grey;
}
.gd-TileFooter{
	background-color: rgba(171,171,171,1.00);
	height: 40px;
	box-shadow: 3px 3px 5px grey;
}
.gd-TileHeader{
	margin-bottom: 10px;
	font-size: 1.2em;
}
.col-md-12{
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.gd-InputRows{
  padding-left:3px !important;	
  padding-right:3px !important;	
}

.gd-LoadAnalytics{
	float: right;
}

.gd-Data-Container{
	margin-bottom: 10px;
	max-height: 30%;
	overflow: auto;
	overflow-x: hidden;
	-webkit-transition: property duration timing-function delay;
	-moz-transition: property duration timing-function delay;
	transition: property duration timing-function delay;
}
.gd-RelatedFilesContainer{

}
.gd-document{
	height: 10px;
	margin-top: 5px;
	color:#474747;
	font-size: 0.8em;
}
.gd-Item-Name{
	margin-left: 10px;
}
.gd-Document-Delete:hover{
	color: #03bcbc;
	cursor: pointer;	
}

.gd-document-Name:hover{
	color: #03bcbc;
	cursor: pointer;
}
.gd-document-Date{
	color: #91949d;
	font-size: 0.8em;
}
#Gd-SoleDataItemsContainer{
	font-size: 0.8em;
}
#GD-soleDataItem{
	color:black;
	height: 10px;
	width: 10px;
	font-size: 1em;
	margin-top: 5px;
}
.soleTableItem:hover{
	
}

.soleTableItem-Delete:hover{
	cursor: pointer;
	color: #03bcbc;
}
.soleTableItem-Text:hover{
	cursor: pointer;
	color: #03bcbc; 
}
.gd-GenericInputContainer{
	width: 100%;
	background-color: white;
}
.gd-StressLevelInput{
	width: 96%;
	padding: 5 5 5 5;
	margin-left: 2%;
	margin-top: 3px;
	margin-bottom: 7px;
}

.btn-default{
	font-size: 8em;
}

table{
	margin-bottom: 0px !important;
}

table .fa-times{
	font-size: small !important;
	float:right;
}

.date{
	width: 100%;
}

.btn-custom{
	padding-left: 10px;
	padding-right: 10px;
	font-size: 0.8em;
	background-color: transparent;
	color: #1e1e1e;
	height: 100%;
	border: 0px;
	vertical-align: middle;
}

.btn-custom-middle{
	float: right;
	border-right: 1px solid #91949d !important;
}
.btn-custom-userprofilelink{
	float: right;
	line-height: 35px;
	font-size: 0.8em;
	height: 35px !important;
	margin-right : -5px;
	margin-top: -5px;
	background-color: rgba(171,171,171,1.00);
}
.btn-custom-right{
	float: right;
}
.btn-custom:hover{
	color:white;
	cursor: pointer;
	background-color: #03bcbc;
}
.btn-custom:active{
	background-color: #235377;
}

.btn-custom-Modal{
	color:white;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 0.8em;
	background-color: transparent;
	height: 100%;
	border: 0px;
	vertical-align: middle;
}
.btn-custom-Modal:hover{
	color: #03bcbc;
}

.btn-arrow-down{
	float:right;
	height: 29px;
	margin-top: -30px;
	border: 0px;
	background-color: transparent;
}
.btn-arrow-down:hover{
	color: #03bcbc;
}
.btn-arrow-left{
	color:#1e1e1e;
	float:right;
	margin-top: 17px;
}
.btn-arrow-left:hover{
	color: #03bcbc;
}
.btn-chart{
	float: right;
	margin-right: 30px;
	height: 29px;
	margin-top: -23px;
	border: 0px;
	background-color: transparent;
}

.btn-chart:hover , .btn-filter:hover{
	color: #03bcbc;
}
.btn-filter{
	float: right;
	margin-top: -20px;
	border: 0px;
	background-color: transparent;
}


.btn-close-modal{
	float: right;
	padding-left: 15px;
	padding-right: 15px;
}

.gd-toggleable{
	cursor: pointer;
}

/* Charts */
.gd-CanvasContainer{
 background-color: white;
}

/* Function Score and MISC Table*/
.custom-input{
	font-size: 0.8em !important;
	border-radius: 0px !important;
}

.gd-ToggleEdit{
	float: right;
	font-size: 0.7em !important;
	color: #91949d;
	margin-top: 15px;
}
.gd-ToggleEdit:hover{
	color: #333;
}

/* Rendered TABLE Items */
.gd-column-label{
	font-size: 0.7em;
}
#select-all{
	float:right;
}
.checkbox{
	float:right;
}
.gd-FSbody{
	max-height: 50%;
	overflow: auto;
	display: none;
}
/* Analysis Part */
.gd-AnalysisContainer{
	margin-top: 14px;
	margin-bottom: 14px;
}
.gd-Analysis-UserInformation{
	height:35px;
	line-height: 25px;
}
.gd-Analysis-UserInformation label{
	margin-left: 10px;
}

.gd-Analysis-Tile{
	margin: 6 6 6 6;
	display: inline-block;
	width: 200px;
}
.gd-Analysis-Tile-Head{
	background-color: white;
	padding:10 10 10 10;
	border-bottom: 1px solid rgba(171,171,171,0.30);
}
.gd-Analysis-Tile-Head span{
	font-size: 1.3em;
	color: #333;
	
}
.gd-Analysis-Tile-Body{
  text-align: center;
	vertical-align: middle;
	background-color: white;
	padding: 10 10 10 10;
}
.gd-Analysis-Tile-Body span {
	padding: 10;
	color: #2293cc;
	font-size: 2.5em !important;
	font-weight: bolder;  
}
.gd-Analysis-Tile-Body-Label{
	font-size: 0.9em;
	color: #91949d;
	float: left;
	width: 80%;
	margin-left: 10%;
	text-align: left;
}
.gd-Analysis-Tile-Body-Label-Addins{
		margin-top:20px;
}
.gd-Analysis-Table-ScrollWrapper{
	max-height: 80%;
	overflow: auto;
}
.gd-Analysis-Table-Head{
	background-color: white;
}
.gd-Analysis-Table-Head span{	
	font-size: 1.0em;
	color: #1e1e1e;
}
.gd-Analysis-Table-Head th{
	text-align: center;
	vertical-align: middle;
 padding: 5 5 5 5;
} 
.gd-Analysis-Table-Head-Sub th{
	font-size: 0.6em;
	color: #91949d;
	padding-left: 5;
	padding-right: 5;
}
.gd-Analysis-Row{
	background-color: white;
	margin-top: 10px;
}
.gd-Analysis-Row td:hover{
	cursor: cell;
}

.gd-Analysis-Row td{
	padding-left: 5;
	padding-right: 5;
	font-size: 0.8em;
	color: #474747;
}
.gd-Analysis-Row-Header{
	height: 35px;
}
.gd-Analysis-Row-Header div{
	padding: 4 6 10;
	font-size: 0.6em;
	margin-bottom: -21px;
	background-color: white;
	color: #91949d;
	width: 100%;
}
.gd-Analysis-Row-Header div:hover{
	color: #03bcbc;
	cursor: pointer;
}
.gd-Analysis-Row-Footer{
	background-color: white;
	height: 3px;
}
.left{
	border-left: 1px solid rgba(171,171,171,0.20);
}
.right{
	
}
.gd-UserInfoValue{
	display: inline-block;
}
.gd-UserInfo-Edit{
	display: inline-block
}

/* Modal */
.gd-ModalFormText {
	margin-top: 5px;
}

.gd-Modal-FunctionScoreTabel{
	margin-top: 10px;
}

.fa-times:hover{
	cursor: pointer;
	color: #03bcbc;
	cursor: pointer;
}

button:focus{
 outline: none;
}

.gd-Dicom-Modal{
		 visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1000;
		 background-color: rgba(28,28,28,0.90);
}

.gd-Dicom-Modal-body{
		 width:75%;
		 height: 70%;
     margin: 5% auto;
     text-align:center;
}
.gd-DicomFooter{
	height: 40px;
}
.gd-DicomHeader{
	height: 20px;
}

body {
     height:100%;
     margin:0;
     padding:0;
}

